/* ===============================
   PROPERTIES HEADER
================================ */

.properties-header {

    min-height: 300px;

    display: flex;

    align-items: center;

    padding: 60px 7%;

    color: white;

    background:
        linear-gradient(
            rgba(0,0,0,0.65),
            rgba(0,0,0,0.65)
        ),
        url("../images/hero.jpg");

    background-size: cover;

    background-position: center;

}


.properties-header p {

    color: #d49a36;

    font-weight: 600;

    letter-spacing: 3px;

}


.properties-header h1 {

    font-size: 45px;

    margin: 10px 0;

}


.properties-header span {

    color: #ddd;

}


/* ===============================
   RESULTS
================================ */

.results-section {

    padding: 80px 7%;

}


.results-top {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 40px;

}


.results-top h2 {

    font-size: 32px;

}


.results-top p {

    color: #777;

    margin-top: 5px;

}


.back-search {

    padding: 12px 20px;

    border: 1px solid #d49a36;

    color: #b77e24;

    border-radius: 5px;

    font-weight: 600;

    transition: 0.3s;

}


.back-search:hover {

    background: #d49a36;

    color: white;

}


/* ===============================
   NO RESULTS
================================ */

.no-results {

    display: none;

    text-align: center;

    padding: 80px 20px;

}


.no-results i {

    font-size: 60px;

    color: #d49a36;

    margin-bottom: 20px;

}


.no-results h2 {

    margin-bottom: 10px;

}


.no-results p {

    color: #777;

    margin-bottom: 20px;

}


.no-results a {

    display: inline-block;

    padding: 12px 20px;

    background: #d49a36;

    color: white;

    border-radius: 5px;

}


/* ===============================
   RESPONSIVE
================================ */

@media(max-width:700px) {

    .properties-header h1 {

        font-size: 32px;

    }


    .results-top {

        flex-direction: column;

        align-items: flex-start;

        gap: 20px;

    }

}